.title {
    font-size: 40px;
    font-family: 'Roboto-Light';
    margin-top: 15px;
}
.iconWrapper {
    position: absolute;
    display: inline-flex;
    color: #ABABAB;
    right: 10px;
    top: 15px;
    font-size: 40px;
}